<div class="card bg-primary" fxLayout="row" fxLayout.xs="column">
  <div class="p-4 ml-4" fxFlex="none" fxFlexAlign="center">
    <img src="assets/img/illustrations/covid.png" style="height: 100px; width: 100px">
  </div>

  <div class="p-3 text-primary-contrast" fxFlex="auto">
    <h2 class="headline m-0">David Smith</h2>
      <p class="body-2 m-0">COVID-19 Status</p>

    <div fxLayout="row" fxLayoutAlign="start center">
      <button mat-raised-button color="primary">SAFE</button>
    </div>

    <p class="body-2 m-0">Risk Status</p>

    <div fxLayout="row" fxLayoutAlign="start center">
      <button mat-raised-button color="primary">SAFE</button>
    </div>

  </div>
</div>
