<div class="mt-6 flex flex-col md:flex-row md:items-start">
    <div class="flex-auto">
        <div class="card">
            <div class="px-gutter py-4 border-b">
                <h2 class="title m-0">Change password</h2>
            </div>

            <div class="px-gutter py-4" gdColumns="1fr" gdColumns.xs="1fr" gdGap="16px">

                <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                    <mat-form-field fxFlex="auto">
                        <mat-label>Current password</mat-label>
                        <input type="password" [(ngModel)]="changePasswordRequest.currentPassword" matInput required>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                    <mat-form-field fxFlex="auto">
                        <mat-label>New password</mat-label>
                        <input type="password" [(ngModel)]="changePasswordRequest.newPassword" matInput required>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                    <mat-form-field fxFlex="auto">
                        <mat-label>Confirm password</mat-label>
                        <input type="password" [(ngModel)]="changePasswordRequest.confirmationPassword" matInput required>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
                    <button [disabled]="!changePasswordRequest.confirmationPassword ||
                     !changePasswordRequest.newPassword || !changePasswordRequest.currentPassword"
                            color="primary" mat-raised-button (click)="submit()" type="button">SUBMIT</button>
                </div>
            </div>

        </div>
    </div>
</div>
