<div class="mt-6 flex flex-col md:flex-row md:items-start">
    <div class="flex-auto">
        <div class="card">
            <div class="px-gutter py-4 border-b">
                <h2 class="title m-0">Edit</h2>
            </div>

            <div class="px-gutter py-4" gdColumns="1fr" gdColumns.xs="1fr" gdGap="16px">

                <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                    <mat-form-field fxFlex="auto">
                        <mat-label>First name</mat-label>
                        <input [(ngModel)]="user.firstName" matInput required>
                    </mat-form-field>
                    <mat-form-field fxFlex="auto">
                        <mat-label>Last name</mat-label>
                        <input [(ngModel)]="user.lastName" matInput required>
                    </mat-form-field>
                </div>
            </div>

            <div class="px-gutter py-4" gdColumns="1fr" gdColumns.xs="1fr" gdGap="16px">

                <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                    <mat-form-field fxFlex="auto">
                        <mat-label>Email</mat-label>
                        <input [(ngModel)]="user.email" matInput>
                    </mat-form-field>
                    <mat-form-field fxFlex="auto">
                        <mat-label>Phone number</mat-label>
                        <input [(ngModel)]="user.phoneNumber" matInput required>
                    </mat-form-field>
                </div>
            </div>

            <div class="px-gutter py-4" gdColumns="1fr" gdColumns.xs="1fr" gdGap="16px">

                <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                    <mat-form-field fxFlex="auto">
                        <mat-label>Date of birth</mat-label>
<!--                        <input type="date" [ngModel]="user.dateOfBirth | date: 'dd.MM.yyyy'"-->
<!--                               (ngModelChange)="onChangeDate($event)"-->
<!--                               [ngModelOptions]="{ updateOn: 'blur' }" matInput>-->
                        <input class="form-control" name="dateT"
                               (ngModelChange)="onChangeDate($event)"
                               [ngModel]="user.dateOfBirth |date:'yyyy-MM-dd'" #dateT="ngModel" type="date"
                               [ngModelOptions]="{ updateOn: 'blur' }" matInput/>

                    </mat-form-field>
                    <mat-form-field fxFlex="auto">
                        <mat-label>Position</mat-label>
                        <input [(ngModel)]="user.position" matInput required>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
                    <button color="primary" mat-raised-button type="button" (click)="updateUserDetails()">SUBMIT</button>
                </div>
            </div>
        </div>
    </div>
</div>
